profile = sparse
break-cases = nested
break-fun-decl = smart
cases-exp-indent = 2
if-then-else = fit-or-vertical
parens-tuple = multi-line-only
parens-tuple-patterns = multi-line-only
parens-ite = false
infix-precedence = parens
break-infix-before-func = false
sequence-style = terminator
sequence-blank-line = compact
indicate-multiline-delimiters = no
ocp-indent-compat = true
wrap-comments = true
parse-docstrings = true
let-binding-spacing = compact
type-decl = sparse
